<%- partial('./model/courselist') %>

<div class="right-body col-lg-9 ">

    <div class="userpane row col-lg-12 textcenter">
        <div class="col-md-12">
            <div class="gap col-lg-2"></div>
            <div class="userpane-item col-lg-2">
                <a href="#">
                    <img class="hvr-wobble-vertical" src="img/icon/courseinfo.gif"></img>
                    <p>课程介绍</p>
                </a>
            </div>

            <div class="userpane-item message col-lg-2">
                <a href="#">
                    <img class="hvr-wobble-vertical" src="img/icon/teacherinfo.gif"></img>
                    <p>教师信息</p>
                </a>
            </div>

            <div class="userpane-item broadcast col-lg-2">
                <a href="#">
                    <img class="hvr-wobble-vertical" src="img/icon/courseprogram.gif"></img>
                    <p>教学大纲</p>
                </a>
            </div>
        </div>

        <div class="col-md-12" style="margin-top:10%;">
            <div class="col-md-2"></div>
            <div class="userpane-item broadcast col-lg-2">
                <a href="#">
                    <img class="hvr-wobble-vertical" src="img/icon/homework.gif"></img>
                    <p>课程作业</p>
                </a>
            </div>
            <div class="userpane-item broadcast col-lg-2">
                <a href="#">
                    <img class="hvr-wobble-vertical" src="img/icon/source.gif"></img>
                    <p>教学资源</p>
                </a>
            </div>
            <div class="userpane-item broadcast col-lg-2">
                <a href="#">
                    <img class="hvr-wobble-vertical" src="img/icon/information.gif"></img>
                    <p>课程通知</p>
                </a>
            </div>
        </div>  
    </div><!-- userpane结束 -->

<!--     <div class="homework commonpane col-md-8 col-md-offset-1">
            <div class="course-title">
                <span>
                    课程作业
                </span>
            </div>
            <div class="homework-list">
                <div class="homework-item">
                    <div class="homework-title">
                        <span class="title-size">第四次作业</span>
                    </div>
                    
                    <div class="homework-info clearfix">
                        <p class="left">吴英</p>
                        <p class="left" style="text-indent:2em;"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                        <p class="left" style="text-indent:1.5em;">未打分</p>
                        
                        <p class="left homeworkop" style="text-indent:1em;">
                            <span class="label label-success">提交</span>
                            <span class="label label-primary">统计信息</span>
                            <span class="label label-warning">查看结果</span>
                        </p>
                    </div>
                    <div class="homework-breif">
                        <p>1.设计一个单文档边框窗口程序，要求至少具有以下功能：</p>
                    </div>
                </div>
            </div>
    </div> -->
    
<!--     <div class="file commonpane col-md-8 col-md-offset-1">
            <div class="course-title file-title">
                <span>
                    教学资源
                </span>
            </div>
            <div class="file-list">
                <table class="table table-hover">
                    <tbody>
                        <tr style="font-size:1.2em;">
                            <td><span><i class="fa fa-folder-o file-icon"></i>教育在线</span></td>
                             <td class=""><span>喻小航</span></td>
                        </tr> 

                        <tr>
                            <td><span><a href="/"><i class="fa fa-file-word-o file-icon"></i>第一次作业</span></a></td>
                            <td><span><i class="fa fa-eye"></i>100</span></td>
                            <td><span><i class="fa fa-cloud-download"></i>100</span></td>
                            <td><span><i class="fa fa-file"></i>课件</span></td>
                        </tr>
                        <tr>
                            <td><span><a href="/"><i class="fa fa-file-word-o file-icon"></i>第一次作业</span></a></td>
                            <td><span><i class="fa fa-eye"></i>100</span></td>
                            <td><span><i class="fa fa-cloud-download"></i>100</span></td>
                            <td><span><i class="fa fa-file"></i>课件</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>        
    </div> -->
    
/*<style type="text/css">
    .file-icon{margin-right: 5px;}
</style>*/

<!--     <div class="news commonpane col-md-8 col-md-offset-1" style="margin-top:30px;">
            <div class="course-title">
                <span>
                    最新动态
                </span>
            </div>
            <div class="news-list">
                    <div class="news-item clearfix">
                        <p class="left"><a href="#">吴英</a>老师发布了<a href="#">第一次作业</a></p>
                        <p class="right"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                    </div>
                    <div class="news-item clearfix">
                        <p class="left"><a href="#">吴英</a>老师发布了<a href="#">第一次作业</a></p>
                        <p class="right"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                    </div>                    <div class="news-item clearfix">
                        <p class="left"><a href="#">吴英</a>老师发布了<a href="#">第一次作业</a></p>
                        <p class="right"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                    </div>                    <div class="news-item clearfix">
                        <p class="left"><a href="#">吴英</a>老师发布了<a href="#">第一次作业</a></p>
                        <p class="right"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                    </div>                    <div class="news-item clearfix">
                        <p class="left"><a href="#">吴英</a>老师发布了<a href="#">第一次作业</a></p>
                        <p class="right"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                    </div>

            </div>
    </div> -->

</div>
<!--     <div class="courseinfo col-md-11">
        <div class="news commonpane col-md-12">
            <div class="course-title">
                <span>
                    最新动态
                </span>
            </div>
            <div class="news-list">
                    <div class="news-item clearfix">
                        <p class="left"><a href="#">吴英</a>老师发布了<a href="#">第一次作业</a></p>
                        <p class="right"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                    </div>
                    <div class="news-item clearfix">
                        <p class="left"><a href="#">吴英</a>老师发布了<a href="#">第一次作业</a></p>
                        <p class="right"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                    </div>                    <div class="news-item clearfix">
                        <p class="left"><a href="#">吴英</a>老师发布了<a href="#">第一次作业</a></p>
                        <p class="right"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                    </div>                    <div class="news-item clearfix">
                        <p class="left"><a href="#">吴英</a>老师发布了<a href="#">第一次作业</a></p>
                        <p class="right"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                    </div>                    <div class="news-item clearfix">
                        <p class="left"><a href="#">吴英</a>老师发布了<a href="#">第一次作业</a></p>
                        <p class="right"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                    </div>

            </div>
        </div>
         -->
         
<!--         <div class="homework commonpane col-md-12">
            <div class="course-title">
                <span>
                    课程作业
                </span>
            </div>
            <div class="homework-list">
                
                <div class="homework-item">
                    <div class="homework-title">
                        <span class="title-size">第四次作业</span>
                    </div>
                    
                    <div class="homework-info clearfix">
                        <p class="left">吴英</p>
                        <p class="col-lg-2"><span class="glyphicon glyphicon-time"></span>2016-05-10 11:22:54</p>
                        <p class="col-lg-1">未打分</p>
                        
                        <p class="col-lg-3 homeworkop">
                            <span class="label label-success">提交</span>
                            <span class="label label-primary">统计信息</span>
                            <span class="label label-warning">查看结果</span>
                        </p>
                    </div>
                    <div class="homework-breif">
                        <p>1.设计一个单文档边框窗口程序，要求至少具有以下功能：</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    
</div>



